@using RunGroopWebApp.ViewModels
@model RegisterViewModel

@{
	ViewData["Title"] = "Sign up";
	Layout = null;
}
<head>
	<link rel="stylesheet" href="~/css/style.css" />
	<!-- Unicons -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>

<div class="row">
	<div class="col-md-6 offset-3">
		<p>
			<h4>Sign up for a new account</h4>
		</p>

		@if (TempData["Error"] != null)
		{
			<div class="col-md-12 alert alert-danger">
				<span><b>Sorry!</b> - @TempData["Error"] </span>
			</div>
		}

		<div class="row">
			<div class="col-md-6 offset-3">
				<p>
					<h4>Log in to your account</h4>
				</p>
				@if (TempData["Error"] != null)
				{
					<div class="col-md-12 alert alert-danger">
						<span><b>Sorry!</b> - @TempData["Error"]</span>
					</div>
				}
				@if (User.Identity.IsAuthenticated)
				{
					<script>
						window.location.href = '@Url.Action("Index", "Dashboard")';
					</script>
				}
				<div class="container">
					<div class="screen">
						<div class="screen__content">
							<form class="login" asp-action="Register">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="login__field">
									<i class="login__icon fas fa-user"></i>
									<input type="text" class="login__input" asp-for="EmailAddress" placeholder="User name / Email">
									<span asp-validation-for="EmailAddress" class="text-danger"></span>
								</div>
								<div class="login__field">
									<i class="login__icon fas fa-lock"></i>
									<input type="password" class="login__input" asp-for="Password" placeholder="Password">
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="login__field">
									<i class="login__icon fas fa-lock"></i>
									<input type="password" class="login__input" asp-for="ConfirmPassword" placeholder="Confirm Password">
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
								</div>
								<button class="button login__submit">
									<span class="button__text">Register Now</span>
									<i class="button__icon fas fa-chevron-right"></i>
								</button>
							</form>

							<div class="social-login">
								<h3></h3>
								<div class="social-icons">
									<a class="social-login__icon fab fa-instagram" asp-action="Index" asp-controller="GoogleRegister"> Register Via Google </a>
								</div>
							</div>
						</div>
						<div class="screen__background">
							<span class="screen__background__shape screen__background__shape4"></span>
							<span class="screen__background__shape screen__background__shape3"></span>
							<span class="screen__background__shape screen__background__shape2"></span>
							<span class="screen__background__shape screen__background__shape1"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
